*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    cursor:default;
}
html,body {
    width: 100%;
    height: 100%;
}
.cursor{
    pointer-events: none;
}
.h0{
    background-color: aqua;
    border-radius: 50%;
    position: fixed;
    z-index: 2;
    opacity: 0;
    height: 20px;
    width: 20px;

}
#cr{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: fixed;
    opacity: 0;
}
.up{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content:right;
    align-items:flex-start;
}
.up .bg{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: fixed;
    z-index: -2;
}
.demon
{
    cursor: pointer;
    display: inline;
    background-color: aqua;
    padding: 2px;
    border:3px solid black;
    margin:10px;
    font-size: 30px;
}
.hash{
    font-size: 30px;
    display: inline;
    cursor: pointer;
    background-color: aqua;
    border:3px solid black;
    padding: 2px;
    margin:10px
}
.mcs{
    font-size: 30px;
    cursor: pointer;
    display: inline;
    background-color: aqua;
    padding: 2px;
    border:3px solid black;
    margin:10px
}
.page1{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items:end;
    justify-content:center;
    flex-direction: column;
    position: relative;
    padding: 20px;
    text-align: center;
}
.page1 .title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-size: 60px;
    position: relative;
}
.page1 .title::before{
    font-size: 60px;
    content:"Set Your Heart Blaze";
    position: absolute;
    color:rgb(75, 8, 8);
    z-index: -1;
    top:-3px;
    right:-1px;
    -webkit-text-stroke: 2px white;
}
.intro1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 3px;
}
.intro2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 3px;
}
marquee{
    white-space: pre;
    font-size: 40px;
    font-weight: 200;
    color: transparent;
    -webkit-text-stroke: 1px rgba(226, 204, 204, 0.527);
    margin: 10px
}
marquee:hover{
    color: aqua;
    -webkit-text-stroke: 2px greenyellow;
}
.page2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card1{
    width:200px;
    height: 270px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGlsmNuhzEebjstg21jgfKs3C0e6XAERfHBHtP7JDEPQ&s);
    background-size: cover;
    background-position: center;
}
#card
{
    border: 2px solid black;
    overflow: hidden;
}
#card img{
    width:200px;
    height:270px;
    opacity: 0;
    transition: opacity ease 1s;
}
#card img:hover{
    opacity: 1;
}
.card2{
    width:200px;
    height: 270px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS79IWN6UinNiGOCneYFall9Zg79VaSitfX3K1GjcWwAg&s);
    background-size: cover;
    background-position: center;
}
.card3{
    width:200px;
    height: 270px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjPE3_lXJsGzFAz1kthLOAD-iLmhNbK4THyUBaI4by6Q&s);
    background-size: cover;
    background-position:top;
}
.page3{
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
h2{
    text-align: center;
}
.villian{
    width: 40vh;
    height: 50vh;
    background-image: url(https://wallpapers.com/images/hd/pink-flower-phone-q99gfskxoowxkckj.jpg);
    background-size: cover;
    background-position: center;
    transition: background-image 1s linear;
    margin-left: 10px;
    border: 2px solid pink;
    box-shadow: 0px 0px 6px 4px rgba(51, 2, 66, 0.678);
}
.btn{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#but{
    width: 15px;
    height: 15px;
    background-color: black;
    opacity: 0.7;
    border-radius: 50%;
    margin: 2px;
    z-index: 2;
}
.flow{
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3,26.667vh);
    grid-template-rows: repeat(3,26.667vh);
}
.cen{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    background-image: url(https://t4.ftcdn.net/jpg/00/74/04/73/360_F_74047329_7R4nUexvEJN1ItXEKwCNs2UaEfuvRnoP.jpg);
    background-position: center;
    max-width: 28vh;
    max-height: 28vh;
    background-size:cover;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 3px rgba(126, 0, 98, 0.479), 0px 0px 5px 2px rgba(255, 0, 0, 0.562);
    opacity:1;
}
.cen p{
    grid-column: 2/span 2;
    grid-row: 2/span 1;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(10, 6, 6, 0.589);
    opacity: 1;
}
.gbox1{
    display: flex;
    justify-content:left;
    align-items:center;
}
.gbox2{
    display: flex;
    justify-content: center;
    align-items:baseline;
}
.gbox3{
    display: flex;
    justify-content: right;
    align-items:center;
}
.gbox4{
    display: flex;
    justify-content: center;
    align-items: last baseline;
}
#gf{
    object-fit: contain;
    object-position: left;
    opacity: 0;
}
.gif1{
    width: 10%;
    margin-left: 10px;
    transition: width 1.5s ease, opacity 0.2s ease;
}
.gif2{
    height: 10%;
    margin-top: 10px;
    transition: height 1.5s ease, opacity 0.2s ease;
    rotate: 90deg;
}.gif3{
    width: 10%;
    margin-right: 10px;
    transition: width 1.5s ease, opacity 0.2s ease;
    rotate: 180deg;
}.gif4{
    height: 10%;
    margin-bottom: 10px;
    transition: height 1.5s ease, opacity 0.2s ease;
    rotate: 270deg;
}

.grid1{
    background-image: url(https://cdn.britannica.com/01/152301-050-1EF6EBB4/Cheetah.jpg?w=200&h=200&c=crop);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 1.5s ease;
}
.grid1 p{
    font-size: 30px; 
    color: rgb(230, 154, 14);
    -webkit-text-stroke: 1.5px rgb(39, 240, 13);
}
.grid2{
    background-image: url(https://thecozycook.com/wp-content/uploads/2018/10/Homemade-French-Fry-Recipe--200x200.jpg);
    background-size: cover;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: flex-end;
}
.grid2 p{
    font-size: 30px; 
    color: rgb(139, 21, 0);
    -webkit-text-stroke: 1.5px rgb(191, 240, 13);
}
.grid4{
    background-image: url(https://www.gimmesomeoven.com/wp-content/uploads/2019/04/Devilled-Eggs-6-1-200x200.jpg);
    background-size: cover;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: flex-end;
}
.grid4 p{
    font-size: 30px; 
    color: darkblue;
    -webkit-text-stroke: 1.5px rgb(187, 13, 240);
}
.grid3{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH3D2FHaNngPZrYEBj2FqebbjX3-GT6jOIF8sg_bBM3g&s);
    background-size: cover;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: flex-end;
}
.grid3 p{
    font-size: 30px; 
    color: rgb(12, 253, 253); 
    -webkit-text-stroke: 1.5px rgb(6, 103, 248);
}
.page4{
    width: 100%;
    height: 100vh;
}
.head{
    width:90%;
    height:30%;
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#hb{
    width: 30%;
    height: 90%;
    background: linear-gradient(45deg,violet,indigo,blue,gray,yellow,orange,red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(238, 0, 238, 0.932);
}
#hb h2{
    text-align: center;
}
#hb:hover{
    background-image: url(https://images.squarespace-cdn.com/content/v1/50fdc822e4b03aa4e2b9f11a/1408377878810-ZQ4F9J2Y1MOVA9HPG02E/rose+phone+wallpaper);
    content-visibility: hid;
    background-size: cover;
}
.last{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.reveal{
    width: 550px;
    height: 350px;
    background-image: url(https://i.pinimg.com/originals/27/d1/66/27d166a78af901bacb1af7238536e620.gif);
    background-size: cover;
    margin: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.reveal h1{
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px transparent ;
    z-index: 2;
    padding: 5px;
    padding-top: 30%;
}
.wobl
{
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wobl1{
    display: flex;
    width: 40%;
    height: 30%;
    overflow:auto;
    scroll-behavior: smooth;
    border: 2px solid green;
}
.wobl img{
    width: 200px;
    height: auto;
    margin: 10px;
    box-shadow: 0px 0px 3px 3px rgb(14, 187, 14), 0px 0px 2px 8px rgb(157, 175, 157)
}
.wobl1::-webkit-scrollbar { display: none;}
.page5{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.best{
    width: 500px;
    height: 300px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJWLWgSjaI3elDHCnApS9WVgHXweOopY_wSRyLMOdPZw&s);
    background-size: 500px 300px;
    opacity: 1;
}
.img{
    position: absolute;
    pointer-events: none;
    width: 140px;
    height: 140px;
    background-image: url(https://images.pexels.com/photos/164041/pexels-photo-164041.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    border-radius: 50%;
}
.new{
    height: 50%;
    width: 40%;
    background-color:bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.out{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(10,auto);
    grid-template-rows: auto;
    gap: 5px;
    border: 3px solid black;
}
.inp{
    display: flex;
}
